@import "tailwindcss";

#scholarly-sidebar-root {
    position: fixed;
    top: 0;
    right: 0;
    width: 35%;
    height: 100vh;
    z-index: 9999;
    background-color: white;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
}
